<!DOCTYPE html>
<html lang="ko">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>RedMoon</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/prettyPhoto.css" rel="stylesheet">
    <link href="css/price-range.css" rel="stylesheet">
    <link href="css/animate.css" rel="stylesheet">
	<link href="css/main.css" rel="stylesheet">
	<link href="css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<body>

	<header id="header"><!--header-->
		<div class="header_top"><!--header_top-->
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<div class="contactinfo">
							<ul class="nav nav-pills">
								<li><a href="#"><i class="fa fa-phone"></i> +2 95 01 88 821</a></li>
								<li><a href="#"><i class="fa fa-envelope"></i> doo_lee_3@naver.com</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="social-icons pull-right">
							<ul class="nav navbar-nav">
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header_top-->
		
		<div class="header-middle"><!--header-middle-->
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="logo pull-left">
							<a href="index.html"><img src="images/REDMOON.png" weigh></a>
						</div>
							
					</div>
				
			
				</div>
			</div>
		</div><!--/header-middle-->
	
		<div class="header-bottom"><!--header-bottom-->
			<div class="container">
				<div class="row">
					<div class="col-sm-9">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<div class="mainmenu pull-left">
							<ul class="nav navbar-nav collapse navbar-collapse">
								<li><a href="index.html" class="active">홈</a></li>
								<li class="dropdown"><a href="#">식음료<!--<i class="fa fa-angle-down"></i> --></a>
          <!--                          <ul role="menu" class="sub-menu">-->
          <!--                              <li><a href="shop.html">Products</a></li>-->
										<!--<li><a href="product-details.html">Product Details</a></li> -->
										<!--<li><a href="checkout.html">Checkout</a></li> -->
										<!--<li><a href="cart.html">Cart</a></li> -->
										<!--<li><a href="login.html">Login</a></li> -->
          <!--                          </ul>-->
                                <!--</li> -->
								<li class="dropdown"><a href="#">리빙<!-- <i class="fa fa-angle-down"></i> --></a>
          <!--                          <ul role="menu" class="sub-menu">-->
          <!--                              <li><a href="blog.html">Blog List</a></li>-->
										<!--<li><a href="blog-single.html">Blog Single</a></li>-->
          <!--                          </ul>-->
                                <!--</li> -->
								<li><a href="404.html">패션 & 뷰티</a></li>
								<li><a href="contact_us.html.erb">기타</a></li>
							</ul>
						</div>
					</div>
					<!--<div class="col-sm-3">-->
					<!--	<div class="search_box pull-right">-->
					<!--		<input type="text" placeholder="Search"/>-->
					<!--	</div>-->
					<!--</div>-->
				</div>
			</div>
		</div><!--/header-bottom-->
	</header><!--/header--><hr>

<div class="container">
    <form action="/create" method="POST" enctype="multipart/form-data">
      <div class="form-group">
      
      <select class="form-control">
      <option>식음료</option>
      <option>리빙</option>
      <option>패션&뷰티</option>
      <option>기타</option>
        </select>  <br>
    
        
    <label for="exampleInputEmail1">제품 이름</label>
    <input name="title" type="text" class="form-control" id="exampleInputEmail1" placeholder="정확한 제품명을 적어주세요">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">제품 설명</label>
    <textarea name="content" class="form-control" id="exampleInputPassword1" rows="10" placeholder="제품 이름, 가격, 상태, 거래방법등 정확하게 입력해주세요."></textarea>
  </div>
  <!--<div class="form-group">-->
  <!--  <label for="exampleInputFile">이미지 업로드</label>-->
  <!--  <input type="file" id="exampleInputFile">-->
  <!--</div>-->
<%= file_field_tag 'image' %><br>
  <button type="submit" class="btn btn-default">제품등록</button>
</form>
</div>



<!--<section id="blank">-->
<!--   <div class="container">-->
    
    
    
    
    
<!--    </div>-->
<!--    </section>-->

		<div class="footer-bottom">
			<div class="container">
				
			<!--번호/페이스북아이콘 소스 아래부터-->
					<div class="footer_add"><!--footer_add-->
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<div class="contactinfo">
							<ul class="nav nav-pills">
								<li><a href="#"><i class="fa fa-phone"></i> +2 95 01 88 821</a></li>
								<li><a href="#"><i class="fa fa-envelope"></i> doo_lee_3@naver.com</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="social-icons pull-right">
							<ul class="nav navbar-nav">
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header_top-->
				
				
				<div class="row">
					<p class="pull-left">Copyright © 2018 멋쟁이사자처럼6기 All rights reserved.</p>
					<p class="pull-right">Designed by <span>멋쟁이사자처럼건국대</a></span></p>
				</div>
			</div>
		</div>
		
	</footer><!--/Footer-->
	

  
    <script src="js/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.scrollUp.min.js"></script>
	<script src="js/price-range.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/main.js"></script>
</body>
</html>